body{
    background-color: lightgrey;
    color: white;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper div{
    background-color: rgb(37, 36, 36);
}

.menu{
    text-align: center;
}