body {
  margin: 0;
  font-family: 'Verdana';
  background-image: url('../assets/images/fondo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

/* Menu */

.menu-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(210, 180, 140, 0.8);
  width: 40vw;
  height: 7vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  padding: 10px;
}

.menu-top img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.menu-top img:hover {
  transform: scale(1.2);
}

.menu {
  background-color: rgba(210, 180, 140, 0.85);
  border-radius: 16px;
  padding: 15px;
  width: 60vw;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}

.worldSelector {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.worldList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.worldBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #333;
  border-radius: 16px;
  padding: 10px 20px;
  width: 40%;
  min-width: 220px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.worldBox .separator h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.worldBox a {
  padding: 6px 14px;
  background-color: rgba(140, 210, 146, 0.9);
  border-radius: 12px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 2px 2px 3px black;
  transition: background-color 0.2s, transform 0.1s;
}

.worldBox a:hover {
  background-color: rgb(122, 236, 132);
}

.worldBox a:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 2px black;
}

.pageList {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.pageList .page {
  width: 2vw;
  min-width: 30px;
  height: 2vw;
  min-height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  border-radius: 12px;
  margin: 0 5px;
  text-align: center;
  line-height: 2vw;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: background-color 0.2s;
}

.pageList .page:hover {
  background-color: rgba(210, 180, 140, 0.9);
  cursor: pointer;
}

/* Estructura Selector idiomas */
.lang_selector {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  z-index: 1;
}

.lang_main {
  background-color: rgba(210, 180, 140, 0.5);
  padding: 8px 14px;
  border: 2px solid white;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
}

.lang_menu {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: rgba(213, 165, 103, 0.9);
  border: 2px solid white;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 97%;
  display: none;
}

.lang_menu li {
  padding: 8px 10px;
  border-top: 1px solid white;
}

.lang_menu li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.lang_selector:hover .lang_menu {
  display: block;
}

.lang_menu a {
  
  font-size: 10px;  
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 3px;
}

