body{
    margin: 0;
    background-image: url('../assets/images/fondo1.jpg');
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh; 

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;  
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Centro */
.main{
    width: 65vw;
    height: 75vh;
    background-color: black;

    display: flex;
}

.main .leftMenu{
    width: 30vw;
    height: 75vh;
    background-color: blue;
}

.main .mainBody{
    width: 70vw;
    height: 75vh;
    background-color: red;
}

/* RECURSOS */

.main .mainBody ul{
    display: flex;
    gap: 1vw;
    list-style-type: none;
}

.main .mainBody ul li img{
    width: 25px;
    height: 25px;
}

/* FONDO */

.main .mainBody .background img{
    width: 100%;
    height: 100%;
}

.window{
    border: 5px solid black;
    background-color: lightgray;
    width: 40vw;
    height: 60vh;
    left: 37vw;
    top: 23vh;
    flex-wrap: wrap;
    position: absolute;
}

.window div{
    margin: auto;
    border: 5px solid black;
    width: 40%;
    
}

.windowINFO{
    border: 5px solid black;
    background-color: lightgray;
    width: 15vw;
    height: 60vh;
    left: 37vw;
    top: 23vh;
    position: absolute;
}

.windowINFO div{
    margin: auto;
    border: 5px solid black;
    width: 40%;
    
}
/* NAVBAR IZQUERDA */

.leftMenu ul{
    list-style-type: none;
}

.leftMenu ul li{
    width: 10vw;
    height: 2vh;
    background-color: orange;
    margin-bottom: 10px;
}

/* RECURSOS MEJORA */

.window div ul{
    display: flex;
    gap: 1vw;
    list-style-type: none;
}

.window div ul li img{
    width: 25px;
    height: 25px;
}

/* MAPA */

.windowMAP{
    border: 5px solid black;
    background-color: lightgray;
    width: 40vw;
    height: 60vh;
    left: 37vw;
    top: 23vh;
    position: absolute;
    overflow: auto;
    display: flex;
    text-align: center;
}

.windowMAP table {
    margin: auto;
    border-collapse: collapse;
}

.windowMAP table tr td{
    padding: 0;
    margin: 0;
    width: 3vw;
    height: 3vw;
    border: 2px dashed white;
    
}

.windowMAP table tr .click{
    cursor: pointer;
    
}


.windowMAP #atack{
    width: 30vw;
    height: 50vh;
    left: 5vw;
    top: 5vh;
    position: absolute;
    
}